<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>KartHub</title>
    <link rel="stylesheet" href="./css/SPJ AUTASO.jpg" />
    <link href="https://fonts.cdnfonts.com/css/minimal" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;800&amp;display=swap"
          rel="stylesheet" />
</head>
<body>
    <p id="description">Bienvenidos a KartHub</p>
    <ul class="menu">
        <li class="menu-item">
            <a class="menu-link" asp-area="" asp-controller="Home">Inicio</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" asp-area="" asp-controller="Catalogo">Catalogo</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" asp-area="" asp-controller="About">Nosotros</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="./hopSingup.html">IniciarSesion</a>
        </li>
    </ul>

    
    <div id="extra-description">
        <p>Nos esforzamos constantemente por ser un motor de cambio positivo en la industria automotriz ecuatoriana, 
            impulsando una transformación que mejore tanto la experiencia de nuestros clientes como el impacto en el mercado. 
            Nuestro compromiso se centra en ofrecer un servicio excepcional, donde la satisfacción y la confianza de nuestros clientes 
            son nuestras principales prioridades. </p>
    </div>
    
    <p>
        Para lograrlo, adoptamos y aplicamos las tecnologías más avanzadas
        , asegurándonos de mantenernos a la vanguardia de la innovación y de ofrecer soluciones que respondan a las necesidades actuales del sector.
        Este enfoque en la excelencia y la innovación nos permite no solo mejorar continuamente nuestra propuesta de valor,
        sino también contribuir al desarrollo de una industria automotriz más moderna, eficiente y orientada hacia el futuro en Ecuador.
    </p>
    </div>

    <img src="/css/Lancer.jpg" alt="Imagen de Inicio" class="inicio-image" />
    </div>

</body>
</html>
