<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>KartHub</title>
    <link rel="stylesheet" href="./css/fondo.jpg" />
    <link href="https://fonts.cdnfonts.com/css/minimal" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;800&amp;display=swap"
          rel="stylesheet" />
</head>
<body>
    <p id="description">Bienvenidos a KartHub</p>
    <ul class="menu">
        <li class="menu-item">
            <a class="menu-link" asp-area="" asp-controller="Home">Inicio</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" asp-area="" asp-controller="Catalogo">Catalogo</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" asp-area="" asp-controller="About">Nosotros</a>
        </li>
    </ul>
    <div style="display: flex; flex-direction: column; align-items: center;">

        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 70%; margin-bottom: auto;">
            <div style="flex: 1; padding-right: 2rem;">
                <h2 style="font-weight:900">Explora Autos</h2>
                <p style="font-weight:300">
                    Encuentra el auto ideal que se adapte a tu estilo y presupuesto. Explora nuestra amplia variedad de opciones, desde autos compactos y familiares hasta SUVs y deportivos.
                </p>
            </div>
            <div style="flex: 1;">
                <img src="~/css/3th.jpg" alt="Explorar Autos" style="max-width: auto; height: auto; border-radius: 10px;">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 70%; margin-bottom: auto;">
            <div style="flex: 1;">
                <img src="~/css/2nd.jpg" alt="Vender tu Auto" style="max-width: auto; height: auto; border-radius: 10px;">
            </div>
            <div style="flex: 1; padding-left: 2rem;">
                <h2 style="font-weight:900">Vende tu Auto</h2>
                <p style="font-weight:300">
                    Publica tu auto de forma rápida y sencilla. Conéctate con miles de compradores potenciales y vende tu auto sin complicaciones.
                </p>
            </div>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 70%; margin-bottom: auto;">
            <div style="flex: 1; padding-right: 2rem;">
                <h2 style="font-weight:900">Nuestra Promesa</h2>
                <p style="font-weight:300">
                    Creemos en la transparencia, la seguridad y la comodidad para todos nuestros usuarios. Nos esforzamos por ofrecer la mejor experiencia de compra y venta de autos en línea.
                </p>
            </div>
            <div style="flex: 1;">
                <img src="~/css/1st.jpg" alt="Nuestra Promesa" style="max-width: auto; height: auto; border-radius: 10px;">
            </div>
        </div>

    </div>

</body>
</html>
