@model IEnumerable<SPJ_ProyectoMVC.Models.About>

@{
    ViewData["Title"] = "Nosotros";
}

<h1>Nosotros</h1>

<h2><a asp-area="" asp-controller="Home" style="text-decoration: none; color: inherit;">Inicio</a></h2>

<div style="display: flex; flex-direction: column; align-items: center;">

    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 70%; margin-bottom: auto;">
        <div style="flex: 1; padding-right: 2rem;">
            <h2 style="font-weight:900">Nuestra Misión</h2>
            <p style="font-weight:300">
                Nuestra misión es facilitar y modernizar la experiencia de comprar y vender autos. Sabemos que el proceso puede ser complicado, lleno de incertidumbres y muchas veces largo.
            </p>
        </div>
        <div style="flex: 1;">
            <img src="~/css/Lancer2.jpg" alt="Foto de la misión" style="max-width: 90%; height: auto; border-radius: 10px;">
        </div>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 70%; margin-bottom: auto;">
        <div style="flex: 1;">
            <img src="~/css/Lancer.jpg" alt="Foto de la historia" style="max-width: 90%; height: auto; border-radius: 10px;">
        </div>
        <div style="flex: 1; padding-left: 2rem;">
            <h2 style="font-weight:900">Nuestra Historia</h2>
            <p style="font-weight:300">
                Nació de la necesidad de ofrecer un espacio en línea que conectara a compradores y vendedores de autos de manera fácil y segura.Queríamos que esta experiencia fuera diferente y que cualquiera pudiera comprar o vender un auto desde la comodidad de su hogar.
            </p>
        </div>
    </div>

</div>
